@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  @apply bg-primary text-primary_text;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  min-height: 100vh;
}

header,
footer {
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
span,
li,
div {
  font-weight: 400;
  font-style: normal;
}

input::placeholder {
  font-size: 0.675rem; /* odpowiada text-sm w Tailwind */
}

/*@media (min-width: 640px) {*/
/*  input::placeholder {*/
/*    font-size: 1rem; !* odpowiada text-base w Tailwind *!*/
/*  }*/
/*}*/

@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/raleway/Raleway-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
